html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cardo', serif;
    font-size: 18px;
    background-color: rgb(134, 134, 134);
}

div, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    font-size: 34px;
    margin: 5vh 0 5vh 0;
}

/* --------------- HOME --------------- */

#home {
    height: calc(100vh);
    align-items: center;
    display: flex;
    background-color: #616161;
    margin: 0 auto;

}

#home-body {
    color: #fff;
    text-align: center;
    padding-bottom: 30%;
    width: 96%;
    margin: 0 auto;
}

#name-text{
    font-size: 22px;
    color: rgb(74, 58, 148);
}

#view-portfolio {
    border: 2px solid white;
    width: 55%;
    margin: 28px auto 0;
    padding: 4px 2px 1px 2px;
    border-radius: 12px;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

#text-arrow {
    margin: 0 0;
    color: white;
}

#arrow {
    transform: rotate(180deg);
    -webkit-filter: invert(100%);
    margin: 0;
}

#portfolio-link {
    margin: auto;
    text-decoration: none;
}

#view-portfolio:hover {
    border-color: red;
}

/* --------------- NAVBAR ---------------  */

#navbar {
    background-color: #272727;
    font-family: 'Cardo', serif;
}

#links {
    text-align: right;
    color: #fff;
    padding: 15px 20px 15px 0;
    font-family: 'Oswald', sans-serif;
}

#link {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

a:visited {
    color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* --------------- ABOUT ME --------------- */

#about-myself {
    width: 92%;
    margin: 0 auto;
    color: white;
    text-align: center;
}

li {
    list-style-type: none;
}

#hobbies {
    text-align: left;
    width: 60%;
    margin: 0 auto;
}

/* --------------- PORTFOLIO --------------- */


.group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    width: 96%;
    margin: 0 auto;
}

.item {
    margin: 0;
    padding: 5px 0 5px 0;
    width: 100%;
}

.left {
    background-color: rgb(252, 252, 252);
}

.right {
    background-color: rgb(212, 212, 212);
}
 /*---text decoration*/

.project-title {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.project-description {
    font-size: 16px;
}

.tech-used {
    font-size: 12px;
    margin: 30px 0 30px 0;
}

.repo-links {
    text-align: center;
}

.repo-live-links, .repo-live-links:visited {
    color: rgb(0, 41, 177);
    margin: 0 2px;
    font-size: 18px;
}

/* --------------- RESUME SECTION --------------- */

#resume-text {
    text-align: center;
    color: white;
}

#resume-window {
    margin: 0 auto;
    width: 80%;
    height: 420px;
}

.pdf-window {
    width: 100%;
    height: 100%;
}


/* --------------- CONTACT FORM SECTION --------------- */

#bottom-section {
    width: 95%;
    margin: 0 auto;
    color: white;
}

img {
    resize: both;
    margin-left: auto;
    margin-right: auto;
}

.center-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 8px;
}

#contact-text {
    text-align: center;
}

.contacts {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logos {
    margin: 0 4px;
}

form {
    width: 95%;
    margin: 5vh auto 10vh auto;
}

input, textarea {
    width: 98%;
    margin: 3px 0;
    border-radius: 10px;
    border-style: none;
}

#btn {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    padding: 7px 12px;
    background-color: #27272700;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
}


/* --------------- MEDIA QUERY --------------- */


@media all and (min-width: 600px) {

    /* --------------- NAVBAR --------------- */

    #links {
        padding: 2vh 9vh 2vh 0;
    }
    
    /* --------------- HOME --------------- */

    #home-body {
        width: 40%;
        padding-bottom: 15%;
    }

    /* --------------- ABOUT --------------- */

    #about-myself {
        width: 50%;
    }

    #hobbies {
        width: 35%;
    }

    /* --------------- PORTFOLIO --------------- */

    .group {
        margin: 0 auto;
        width: 100%;
        flex-flow: column wrap;
    }

    .item {
        padding: 4vh 0 4vh 0;
    }

    .left {
        text-align: left;
        background: linear-gradient(to right, rgb(252, 252, 252), transparent 90%);
    }
    
    .right {
        text-align: right;
        background: linear-gradient(to left, rgb(212, 212, 212), transparent 90%);
    }

    .project {
        width: 65%;
    }

    /* --------------- PRESUME --------------- */

    #resume-window {
        width: 50%;
        height: 680px;
    }
    
    .pdf-window {
        width: 100%;
        height: 100%;
    }

    /* --------------- CONTACT --------------- */

    #bottom-section {
        width: 60%;
    }

    .logos {
        margin: 6vh 6vh 3vh;
    }

    form {
        width: 75%;
    }
    
    input{
        height: 4vh;
    }

    textarea {
        height: 14vh;
    }
    
    #btn {
        padding: 1.5vh 2.5vh;
    }
}