body {
    font-family: 'Cardo', serif;
    font-size: 18px;
    background-color: rgb(134, 134, 134);
}

div, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    font-size: 34px;
}

/*home page*/

#home {
    height: calc(100vh);
    align-items: center;
    display: flex;
}

#home-body {
    color: #fff;
    text-align: center;
    padding-bottom: 30%;
    width: 96%;
    margin: 0 auto;
}

#name-text{
    font-size: 22px;
    color: rgb(74, 58, 148);
}

#view-portfolio {
    border: 2px solid white;
    width: 55%;
    margin: 28px auto 0;
    padding: 4px 2px 1px 2px;
    border-radius: 12px;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

#text-arrow {
    margin: 0 0;
    color: white;
}

#arrow {
    transform: rotate(180deg);
    -webkit-filter: invert(100%);
    margin: 0;
}

#portfolio-link {
    margin: auto;
    text-decoration: none;
}

#view-portfolio:hover {
    border-color: red;
}

/* navigation bar */

#navbar {
    background-color: #272727;
    font-family: 'Cardo', serif;
    margin-bottom: 35px;

}

#links {
    text-align: right;
    color: #fff;
    padding: 15px 20px 15px 0;
    font-family: 'Oswald', sans-serif;
}

#link {
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
}

a:visited {
    color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* ABOUT ME */

#about-myself {
    width: 92%;
    margin: 0 auto;
    color: white;
    text-align: center;
}

li {
    list-style-type: none;
}

#hobbies {
    text-align: left;
    width: 60%;
    margin: 0 auto;
}

/* PORTFOLIO */


.group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    width: 96%;
    margin: 0 auto;
}

.item {
    margin: 0;
    padding: 5px 0 5px 0;
    width: 100%;
}

.left {
    background-color: rgb(252, 252, 252);
}

.right {
    background-color: rgb(212, 212, 212);
}
 /*---text decoration*/

.project-title {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.project-description {
    font-size: 16px;
}

.tech-used {
    font-size: 12px;
}

.repo-links {
    text-align: center;
}

.repo-live-links, .repo-live-links:visited {
    color: rgb(0, 41, 177);
    margin: 0 2px;
    font-size: 18px;
}

/*CONTACT FORM SECTION*/

#bottom-section {
    width: 95%;
    margin: 0 auto;
    color: white;
}

img {
    resize: both;
    margin-left: auto;
    margin-right: auto;
}

.center-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 8px;
}

#contact-text {
    text-align: center;
}
.contacts {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logos {
    margin: 0 4px;
}

form {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

input, textarea {
    width: 98%;
    margin: 3px 0;
    border-radius: 10px;
    border-style: none;
}

#btn {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    padding: 7px 12px;
    background-color: #27272700;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
}


/* 

.box {
    justify-content: center;
    width: 85%;
    margin:  26px auto 26px;
    background: #d3c8c8;
    padding: 15px;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 5px 10px 10px 8px #000000;
}

form {
    margin: 0 auto 8px;
    width: 85%;
}

form label {
    font-size: 16px;
    margin-bottom: 5px;
    color: rgb(66, 66, 66);
    font-family: 'Cardo', serif;
}

form input {
    margin: 0 auto 0;
    width: 80%;
}

form input[type=text] {
    color: #000;
    font-size: 15px;
    margin-bottom: 4px;
} */



@media all and (min-width: 800px) {
    
    /* header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        margin-bottom: 40px;
    }

    header h1 {
        margin: 14px 0;
        padding-top: 0;
    }

    header nav {
        margin-top: 8px;
    }

    header nav ul li a:hover {
        color: #bdbdbd;
    }

    body {
        font-size: 22px;
    }

    .box {
        width: 70%;
    }

    .group {
        flex-direction: row;
    }

    form label {
        font-size: 23px;
    }

    form input {
        width: auto;
    }

    form input[type=text] {
        font-size: 22px;
    } */


}